%ul.social-buttons.list-inline
  %li
    %button.fa.fa-linkedin-square.btn.btn-default{"data-provider" => "linkedin", :type => "button"}
  %li
    %button.fa.fa-twitter-square.btn.btn-default{"data-provider" => "twitter", :type => "button"}
  %li
    %button.fa.fa-facebook-square.btn.btn-default{"data-provider" => "facebook", :type => "button"}