%ul.social-buttons.list-inline
  %li
    = link_to user_omniauth_authorize_path(:linkedin) do
      %button.fa.fa-linkedin-square.btn.btn-default{type: 'button'}
  %li
    = link_to user_omniauth_authorize_path(:twitter) do
      %button.fa.fa-twitter-square.btn.btn-default{type: 'button'}
  %li
    = link_to user_omniauth_authorize_path(:facebook) do
      %button.fa.fa-facebook-square.btn.btn-default{type: 'button'}