// Variables
$white: #FFFFFF;
$dark_white: #F1F2F4;

$grey:  #E1E7EC;
$darker_grey: #6d7a8b;
$dark_grey:   #808B9D;
$light_grey:  #dce0e6;

$blue: #008ED0;
$dark_blue: #286090;
$darker_blue: #204d74;
$light_green: #53d700;

$red: #EE5760;

@mixin white-background {
  background-color: $white;
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px 0;
}