/*
 *= require rails_bootstrap_forms
 *= require bootstrap3-switch
 *= require bootstrap-tokenfield
 
 *= require jquery-ui/datepicker
 
 *= require font-awesome
 *= require_tree ./partials
 *= require_tree .
 
 *= require_self
 */

@import 'mixins';

.container-fluid, body > .container-fluid {
 box-sizing: border-box;
}

.container-fluid > {
 .layout_body, .layout_footer, .layout_header {
   overflow: auto;
 }
}

body > .container-fluid > {
 .layout_body, .layout_footer, .layout_header {
   overflow: auto;
 }
}

.layout_body {
  padding-bottom: 20px;
}

.title-crossing {
 overflow: hidden;
}

.title-crossing_title {
 display: inline-block;
 padding: 0 10px;
 position: relative;
 &:after {
   content: "";
   display: block;
   position: absolute;
   top: 50%;
   height: 1px;
   width: 1000%;
   background-color: $light_grey;
 }
 &:before {
   content: "";
   display: block;
   position: absolute;
   top: 50%;
   height: 1px;
   width: 1000%;
   background-color: $light_grey;
   right: 100%;
 }
 &:after {
   left: 100%;
 }
}

.layout_footer {
 margin-left: -15px;
 margin-right: -15px;
 padding: 20px;
 background-color: #364557;
 color: #6D7A8D;
 .nav > li > a {
   color: #cacfd8;
   text-decoration: underline;
   &:active, &:focus, &:hover {
     color: #377bab;
     background: 0 0;
   }
 }
}

body {
 color: $darker_grey;
 background: $light_grey;
}

.col-inline {
 float: none;
 display: inline-block;
}

.alert {
  position: relative;
  left: 25%;
  width: 50%;
  min-width: 50%;
  margin-top: 10px;
}