/*
 *= require rails_bootstrap_forms
 *= require bootstrap3-switch
 *= require bootstrap-tokenfield
 *= require bootstrap-typeahead-rails
 *= require bootstrap-fileinput
 
 *= require jquery-ui/datepicker
 
 *= require font-awesome
 *= require_tree ./partials
 *= require_tree .
 
 *= require_self
 */
 
@import "bootstrap";
@import 'mixins';

.container-fluid, body > .container-fluid {
  box-sizing: border-box;
}

.container-fluid > {
 .layout_body, .layout_footer, .layout_header {
   overflow: auto;
 }
}

body {
  color: $darker_grey;
  background: $light_grey;
}

body > .container-fluid > {
  .layout_body, .layout_footer, .layout_header {
    overflow: auto;
  }
}

.layout_body {
  padding-bottom: 20px;
}

.layout_footer {
  padding: 20px;
  background-color: #364557;
  color: #6D7A8D;
  
  bottom: 0;
  // position: absolute;
  position: relative;
  width: 100%;
  
  .content-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav > li > a {
    color: #cacfd8;
    text-decoration: underline;

    &:active, &:focus, &:hover {
      color: #377bab;
      background: 0 0;
    }
  }
}

.col-inline {
  float: none;
  display: inline-block;
}
