@import 'mixins';

.companies_show {
  .profile-card__header {
    .info__body {
      padding-left: 0;
      
      .info__founded {
        padding-left: 10px;
        font-size: 12px;
      }
      
      .info__location, .info__description, .info__category, .info__founded {
        color: $dark_grey;
      }
    }
    .media-body {
      width: auto;
    }
  }
  
  .profile-card__content {
    .section__body__new_member {
      width: 40%;
    }
    
    .section__body_view {
      .company__member {
        display: inline-table;
        min-width: 33%;
        width: 33%;
        padding-bottom: 20px;
        
        .company__member_photo {
          border-radius: 30px;
          float: left;
          margin-right: 10px;
        }
        
        .company__name {
          padding-top: 10px;
          
          .company__name__edit {
            padding-left: 10px;
            cursor: pointer;
          }
        }
        
        .company__position {
          color: $dark_grey;
        }
      }
    }
  }
}

.companies_new, .companies_create {
  form {
    @include white-background;
  }
}
