%footer.row.layout__footer
  .container
    .col-xs-12.col-sm-4.col-md-3
      .nav.navbar-nav
        %span.navbar-text Copyright © 2015 Knomsy
        
    .col-xs-12.col-sm-8.col-md-6
      %ul.nav.navbar-nav
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "#dashboard"} Dashboard
        %li
          %a{:href => "#people"} People
        %li
          %a{:href => "#startups"} Startups
        %li
          %a{:href => "#jobs"} Jobs
        %li
          %a{:href => "#map"} Location map
          
    .col-xs-12.col-sm-12.col-md-3
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#contact"} Contact Us
        %li
          %a{:href => "#linkedin"} IN
        %li
          %a{:href => "#twitter"} TW
        %li
          %a{:href => "#facebook"} FB