.layout_header-toolbar
  .container
    %ul.nav.navbar-nav
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "#dashboard"} Dashboard
      %li
        %a{:href => "#people"} People
      %li
        %a{:href => "#startups"} Startups
      %li
        %a{:href => "#location-map"} Location map